*{margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'monsterrat';
    color: #fff;

}
html, body{
    height: 100%;
    width:100%;
}
#nav{
    height: 80px;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    padding: 0 150px;
    gap: 35px;
    justify-content: flex-start;
    /* font-weight: 500; */
    position: fixed;
    z-index: 99;
    
    

}
#nav img{
    height: 75px;

}
#nav h4{
    font-weight: 500;
    /* text-transform: uppercase; */
}
video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
}
#main {
    position: relative;
    background-color: black (0, 0, 0, 0.8);
}
#page1
{
    height: 100vh;
    width: 100vw;
    /* position: absolute;  */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 45;
     
}

#page1 h1{
    font-size: 70px;
    font-weight: 900;
    position: relative;
}
#page1 h1::before{
    content: "EAT. DRINK. PLAY.";
position:absolute;
color: black;
top: -2px;
-webkit-text-stroke: 1px rgb(177, 255, 42);
}
#page1 h2{
    font-size: 30px;
    font-weight: 400;
}
#page1 p{
    font-size: 15px;
    font-weight: 500;
    width:40%;
}